body{
	margin: 0;
	padding: 0;
}
footer{
	color: white;
	background: #0a0104;
	min-height: 30vh;
}
header{
	background: #4f2de3;
	min-height: 15vh;
	opacity: 1;
	animation: anim_hd 2s 1;
}
.head_div{
	position: relative;
	top: 20px;
	left: 33%;
	width: 400px;
	height: 50px;
	overflow: hidden;
	background: #101414;
	border: 5px solid #363838;
	border-radius: 5px; 
	padding-top: 0; 
}
.head_div > p{
	font-size: 35px;
	position: absolute;
	margin-top: 5px; 
	top: 0;
	left: 0;
	color: #c40c0c;
	width: 1600px;
	animation: h_anim 10s infinite;
	animation-timing-function: linear;
}
@-webkit-keyframes h_anim{
	0%{
		transform: translateX(400px);
	}
	100%{
		transform: translateX(-1600px);
	}
}
@-webkit-keyframes anim_hd{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
main{
	min-height: 250vh;
}
h1{
	text-align: center;
}
h2{
	color: #ebab36;
	text-align: center;
}
.start_of_page > h2{
	font-size: 30px;
	color: black;
}
.start, .visible{
	display: flex;
	justify-content: space-around;
	opacity: 1;
	margin-top: 10vh;
}
.start{
	animation: anim_st 1s 1;
}
.start > div{
	width: 25%;
	min-height: 150px;
	padding: 15px;
	background: #90e6f0;
	color: #121110;
	border-radius: 8px;
}
@-webkit-keyframes anim_st{
	0%{
		opacity: 0;
	}
	30%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.element > div{
	width: 20%;
	min-height: 50px;
	padding: 5px;
	background: #ffa703;
	color: #121110;
	border-radius: 8px;
}
.none{
	display: none;
}
.element > div{
	animation: anim_el 1s 1;
}
.element > div > h2{
	color: black;
}
@-webkit-keyframes anim_el{
	0%{
		transform: scale(0.1);
	}
	100%{
		transform: scale(1);
	}
}